button {
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    border-radius: 0.25rem;
    padding: 0.7rem 1rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: .07em;
    text-transform: uppercase;
    vertical-align: middle;

    &[secondary] {
        background-color: var(--secondary);
        color: var(--on-secondary);
    }

    &[outlined], &[outline], &[text] {
        --color: var(--primary);
        background-color: transparent;
        outline: solid var(--color) 0.05rem;
        outline-offset: -0.05rem;
        color: var(--color);
        box-shadow: none;

        &::after {
            color: var(--color);
            opacity: 0.5;
        }

        &[afterclick]::after {
            animation: ripple 1s cubic-bezier(0, 0.8, 1, 1) forwards;
        }

        &[secondary] {
            --color: var(--secondary);
        }
    }

    &[text] {
        outline: none;
    }

    &:disabled {
        filter: saturate(0) brightness(0.5);
        box-shadow: none;
    }

    &[icon]:not([icon=""]) {
        &::before {
            content: attr(icon);
            font-family: 'Material Icons';
        }
    }

    &[icon=""] {
        transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
        text-transform: unset;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        background-color: #0000;
        color: currentColor;
        padding: 0.5rem;
        margin: 0.6rem;
        font-weight: unset;
        box-shadow: unset;
        letter-spacing: unset;
        outline: none;
        overflow: visible;

        &::before {
            content: '';
            position: absolute;
            inset: -1.8rem -0.5rem;
            overflow: visible;
            z-index: -1;
            pointer-events: none;
        }
        
        &:hover::before {
            background: radial-gradient(
                circle,
                #8884 49%,
                #0000 50%
            );
        }

        &[rotate] {
            transform: rotate(360deg);
        }
    }
}