button {
    height: 2.5rem;
    border: none;
    border-radius: 1.25rem;
    padding: 0 23px;
    color: var(--primary);
    background-color: transparent;
    font-size: 0.88rem;
    font-family: inherit;
    font-weight: 600;
    /* font-size: 0.875rem;
    letter-spacing: .07em; */
    /* text-transform: uppercase; */
    vertical-align: middle;
    white-space: nowrap;

    &[filled] {
        color: var(--on-primary);
        background-color: var(--primary);
        
        &[secondary] {
            color: var(--on-primary-container);
            background-color: var(--primary-container);
        }
    }

    &[outlined] {
        outline: var(--outline);
        outline-offset: -1px;
    }

    &[fab] {
        height: 3rem;
        border-radius: 1em; /* 25% of height */
        padding: 0 1em;
        color: var(--on-primary-container);
        background-color: var(--primary-container);
        font-family: 'Material Icons';
        font-size: 1rem;
        aspect-ratio: 1 / 1;

        &:not([icon]) {
            font-weight: unset;
        }

        &[icon] {
            font-family: inherit;
            font-size: 0.7rem;
            aspect-ratio: unset;

            &::before {
                content: attr(icon);
                font-family: 'Material Icons';
                font-size: 1rem;
                font-weight: initial;
                margin-right: 0.75ch;
            }
        }

        &[large] {
            font-size: 1.5rem;
            height: 3em;
        }

        body > main > & {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            animation: button-fab-fixed 1s cubic-bezier(0, 1, 0, 1);
        }
        body > main:first-of-type > & {
            bottom: 6rem;
        }
        body > main > &:not(:first-of-type) {
            display: none;
            margin-right: 0.67rem;
            margin-bottom: calc(6rem + var(--i) * 4rem);
            background-color: var(--surface);
            color: var(--primary);
            animation: button-fab-show calc(0.5s + var(--i) * 0.2s) cubic-bezier(0, 1, 0, 1);

            &:nth-of-type(2) {
                --i: 0;
                box-shadow: #0008 0 0 0 max(142vh, 142vw);
            }
            
            &:nth-of-type(3) {
                --i: 1;
            }
            
            &:nth-of-type(4) {
                --i: 2;
            }
        }
        body > main > &:focus ~ & {
            display: unset;
        }
    }

    &[icon=""] {
        transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
        text-transform: unset;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        background-color: #0000;
        color: currentColor;
        padding: 0.5rem;
        margin: 0.6rem;
        font-weight: unset;
        box-shadow: unset;
        letter-spacing: unset;
        outline: none;
        overflow: visible;

        &::before {
            content: '';
            position: absolute;
            inset: -1rem;
            overflow: visible;
            z-index: -1;
            pointer-events: none;
        }
        
        &:hover::before {
            background: radial-gradient(
                circle,
                #8884 49%,
                #0000 50%
            );
        }

        &[rotate] {
            transform: rotate(360deg);
        }
    }
}

@keyframes button-fab-fixed {
    from, 50% {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        
    }
}

@keyframes button-fab-show {
    from {
        display: unset;
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        display: unset;
    }
}