dialog {
    transition: 
        transform 0.3s cubic-bezier(0, 1, 0, 1),
        opacity 0.3s cubic-bezier(0, 1, 0, 1);
    inset: 
        calc(50vh - 20rem)
        max(calc(50vw - 15rem), 2rem);
    width: auto;
    padding: 0;
    border: none;
    border-radius: var(--border-radius);
    color: var(--on-surface);
    background-color: var(--surface);
    box-shadow: #0008 0 0 0 max(100vw, 100vh);
    z-index: 1;
    -webkit-tap-highlight-color: #0000;

    [scrim] {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -1;
        cursor: pointer;
    }

    &[appmenu] {
        > * {
            display: block;
            margin: 0;
            padding: 1.2rem 1.5rem;
            font-size: 1rem;
            font-weight: 600;

            &:not(:last-child) {
                display: block;
                border-bottom: 1px solid #888;
            }

            > * {
                margin: 0;
                
                &:not(:first-child):not(button) {
                    filter: brightness(0.5);
                    font-weight: 400;
                }
                
                &[icon]:not([icon=""]) {
                    margin-left: -1.5rem;
                }
            }
            
            button:first-child {
                margin-top: -1.2rem;
            }

            button:last-child {
                margin-bottom: -1.2rem;
            }

            p {
                margin: 0;
            }
        
            title {
                display: inline;
            }
        }

        [scrim] {
            border-bottom: none;
        }

        [icon]:not([icon=""]) {
            padding-left: 3.7rem;

            &::before {
                content: attr(icon);
                position: absolute;
                left: 1.5rem;
                margin-top: 0.05rem;
                font-family: 'Material Icons';
                font-weight: 500;
                font-size: 1.3rem;
            }
        }
        > title:first-of-type {
            display: block;
            text-align: center;
            font-size: 1.1rem;
            font-weight: 600;
            border-bottom: none;
            padding-bottom: 1rem;
        }
        > footer {
            text-align: center;
            font-size: 0.8rem;
            font-weight: 400;
            padding: 0.8rem 1.5rem;
        }
        > button, > * > button {
            width: calc(100% + 3rem);
            padding: 1rem 1.5rem;
            border-radius: 0;
            color: var(--on-surface);
            background-color: transparent;
            font-size: unset;
            box-shadow: none;
            text-align: unset;
            letter-spacing: unset;
            text-transform: none;
        }
    }

    /* &[active] {
        animation: dialog-open 0.3s cubic-bezier(0, 1, 0, 1) forwards;
    } */

    &:not([active]) {
        transition: 
            transform 0.6s cubic-bezier(0, 1, 1, 0),
            opacity 0.3s linear;
        transform: scale(0);
        opacity: 0;
    }
}

/* @keyframes dialog-open {
    from {
        transform: scale(0) translateY(-20vh);
        opacity: 0;
    }
}
@keyframes dialog-close {
    to {
        transform: scale(0);
        opacity: 0;
    }
} */