header, body > header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.3rem 0 0.3rem 1rem;
    border-radius: 1.5rem;
    background-color: var(--surface-variant);
    color: var(--on-surface);
    user-select: none;
    cursor: default;

    &::placeholder {
        opacity: 0.63;
    }

    main & {
        margin: 0;
        padding: 0.7rem 0 0.7rem 1rem;
        height: 2.5rem;
        border-radius: unset;
        z-index: 1;
        
        &::after {
            content: attr(title);
            position: absolute;
            left: 4rem;
            margin: auto auto auto 0;
            line-height: 2.5;
            font-weight: 600;
            font-family: inherit;
            vertical-align: middle;
        }

        button[navback] {
            position: absolute;
            left: 0.5rem;
        }
    }

    input {
        width: 0;
        background: none;
        border: none;
        outline: none;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        flex: 100%;
        padding-left: 3.5rem;
        margin-left: -3rem;
        z-index: 1;
        
        &::placeholder {
            color: currentColor;
            opacity: 0.8;
        }
    }

    &::before {
        content: attr(icon);
        font-family: 'Material Icons';
    }
    
    &::before, button[icon] {
        margin: auto 0.5rem auto auto;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 0;
        z-index: 1;
        opacity: 0.8;
        
    }
    
    button[icon]:not([filled]) {
        color: var(--on-surface);
    }
}