input[type="text"][outlined],
input[type="password"][outlined],
input[type="number"][outlined],
textfield {
    display: block;
    height: 1.4rem;
    margin: 1rem 0.5rem 1rem 0;
    border: none;
    border-radius: var(--border-radius);
    outline: var(--outline);
    padding: 1rem;
    color: var(--on-surface);
    caret-color: var(--primary);
    background: none;
    font-size: inherit;
    font-family: inherit;

    &:focus {
        outline: solid var(--primary) 0.125rem;
    }
    
}

textfield {
    color: transparent;
    white-space: nowrap;
    overflow-x: hidden;
    cursor: text;
    
    &:focus, &:not([empty]) {
        color: var(--on-surface);
        /* clip-path: polygon(1.5rem 30%, 50% 30%, 50% -0.15rem, 110% -0.15rem, 110% 110%, -0.15rem 110%, -0.15rem -0.15rem, 1.5rem -0.15rem); */
        
        &::after {
            transform: translate(-1rem, -1.2rem) scale(0.75);
            height: 0.25rem;
            padding: 0 0.25rem;
            color: var(--on-surface);
            line-height: 0.4;
            opacity: unset;
        }
    }
    
    &::after {
        content: attr(title);
        transition: transform cubic-bezier(0.5, 0, 0, 1) 0.2s;
        position: absolute;
        height: 0;
        margin-top: 0;
        left: 2rem;
        color: var(--on-surface);
        background-color: var(--surface);
        opacity: 0.85;
    }

    &:focus::after {
        color: var(--primary);
    }

    &[icon] {
        margin-left: 3rem;

        &::before {
            content: attr(icon);
            position: absolute;
            left: 1.25rem;
            color: var(--on-surface);
            opacity: 0.8;
            font-size: 1.5rem;
            font-family: 'Material Icons Outlined';
        }

        &::after {
            left: 5rem;
        }
    }
    
    * {
        display: inline;
    }

    br {
        display: none;
    }
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    + label {
        display: block;
        padding: 1rem 0 1rem 0;
        
        overflow: clip;
        user-select: none;
    }
    
    &:not([switch]) + label::before {
        content: "";
        position: absolute;
        right: 1rem;
        width: 20px;
        height: 20px;
        border: var(--outline);
        border-width: 2px;
        border-radius: 2px;
        color: var(--on-surface);
        animation: checkbox-uncheck 0.2s cubic-bezier(0, 0.5, 0, 1);
        z-index: 1;
    }
    
    &:not([switch]):checked + label::before {
        content: "checked";
        color: var(--on-primary);
        background-color: var(--primary);
        border-color: var(--primary);
        font-family: "Material Icons";
        font-size: 20px;
        animation: checkbox-check 0.3s cubic-bezier(0, 0, 0, 1) forwards;
    }

    &[switch] + label::before {
        content: "";
        position: absolute;
        right: 0;
        width: 52px;
        height: 32px;
        margin: -15.5px 0;
        outline: var(--outline);
        outline-width: 2px;
        outline-offset: -2px;
        border-radius: 16px;
        background-color: var(--surface-variant);
    }

    &[switch]:checked + label::before {
        background-color: var(--primary);
        outline-color: var(--primary);
    }
    
    &[switch] + label::after {
        content: "";
        position: absolute;
        inset: auto 18px auto auto;
        width: 16px;
        height: 16px;
        margin: -7.5px 0;
        border-radius: 12px;
        background: var(--outline-color);
        transform: translateX(-10px);
        animation: none;
        opacity: unset;
        transition: transform 0.2s cubic-bezier(0, 0, 0, 1);
    }
    
    &[switch]:active + label::after {
        transform: translateX(-10px) scale(1.75);
    }
    
    &[switch]:checked + label:after {
        color: var(--on-primary);
        background-color: var(--on-primary);
        transform: translateX(10px) scale(1.5);
    }
    
    &[switch]:checked:active + label::after {
        transform: translateX(10px) scale(1.75);
    }
}

@keyframes checkbox-check {
    from {
        content: "";
        clip-path: polygon(50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 90%, 90% 90%, 90% 10%, 10% 10%, 10% 90%, 50% 90%);
    }
    49% {
        content: "";
        clip-path: polygon(50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    50% {
        content: "";
        clip-path: polygon(50% 50%, 50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    60% {
        content: "";
        clip-path: polygon(40% 74%, 50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%, 40% 74%, 44% 70%, 40% 65%, 40% 65%, 25% 50%, 20% 55%);
    }
    to {
        content: "";
        clip-path: polygon(40% 74%, 50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%, 40% 74%, 82% 32%, 77% 27%, 40% 65%, 25% 50%, 20% 55%);
    }
}
@keyframes checkbox-uncheck {
    from {
        background-color: var(--outline-color);
        clip-path: polygon(50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    to {
        background-color: var(--outline-color);
        clip-path: polygon(50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 90%, 90% 90%, 90% 10%, 10% 10%, 10% 90%, 50% 90%);
    }
}