[page] {
    cursor: pointer;
}
nav {
  transition: 
    transform 0.5s cubic-bezier(0, 0.7, 0, 1),
    background-position-y 0.2s cubic-bezier(0, 0, 0, 1);
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 0.5rem calc(50% - 15rem);
  justify-content: space-around;
  background-color: var(--surface);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  user-select: none;
  overflow: hidden;
  z-index: 1;

  > [page] {
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    overflow: visible;
    opacity: 0.8;

    &[active] {
      opacity: unset;
      &::before {
        color: var(--on-primary-container);
        //filter: brightness(0.8) contrast(1.3) saturate(0.5);
        animation: nav-blob-activate 1s cubic-bezier(0, 0, 0, 1) forwards;
        font-family: 'Material Icons';
      }
    }

    &::before {
      --blob-size: 4rem;
      content: attr(icon);
      position: absolute;
      top: 0.3rem;
      right: 0;
      left: 0;
      margin: 0 calc(50% - var(--blob-size) / 2);
      padding: 0.2rem 0;
      font-family: 'Material Icons Outlined';
      font-size: 1.5rem;
      font-weight: 400;
      color: currentColor;
      background-color: #0000;
      border-radius: 1.25rem;
      z-index: 1;
    }
  }

  body[fullview] > & {
    transition: transform 1s cubic-bezier(0, 0.7, 0, 1);
    transform: translateY(100%);
    
    ~ #main {
      bottom: 0;
    }
  }
  ~ #main {
    bottom: 5rem;
  }
}

@keyframes nav-blob-activate {
  1% {
    transform: scaleX(0.8);
  }
  50% {
    transform: scaleX(1);
  }
  to {
    background-color: var(--primary-container);
  }
}