body > nav {
    display: flex;
    position: fixed;
    height: 80px;
    inset: auto 0 0 0;
    gap: 8px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    z-index: 1;
    
    color: var(--on-surface);
    background-color: var(--surface);
    
    > [page] {
        display: flex;
        min-height: 56px;
        flex: 1;
        padding: 12px 0 16px;

        color: var(--on-surface-variant);
        line-height: 16px;
        font-size: 12px;
        letter-spacing: 0.05em;
        font-weight: 500;

        flex-direction: column;
        justify-content: center;
        overflow: visible;

        &[active] {
            color: unset;

            &::before {
                animation: nav-blob-activate 1s cubic-bezier(0, 0, 0, 1) forwards;
                font-family: 'Material Icons';
            }
        }

        &::before {
            content: attr(icon);
            display: block;
            width: 64px;
            height: 32px;
            border-radius: 16px;
            margin: 0 auto;
            font-family: 'Material Icons Outlined';
            font-size: 24px;
            line-height: 32px;
        }
    }

    > :is(h3, h4, h5, h6) {
        display: none;
    }

    > hr {
        border: var(--outline);
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin: 0 16px;
        
        &, & ~ *, & ~ [page] {
            display: none;
        }
    }

    ~ main:first-of-type {
        bottom: 80px;
    }

    @media screen and (min-width: 600px) and (min-height: 600px) {
        inset: 0 auto 0 0;
        width: 80px;
        height: unset;
        flex-direction: column;
        justify-content: center;

        > [page] {
            flex-grow: 0;
        }

        ~ main:first-of-type {
            left: 80px;
            bottom: 0;
        }

        @at-root body > header:is(header) {
            left: 80px;
        }
    }
    
    @media screen and (min-width: 840px) and (min-height: 600px)  {
        width: 336px;
        padding: 12px;
        justify-content: unset;
        text-align: unset;
        
        > [page] {
            padding: 0 24px 0 52px;
            position: relative;
            border-radius: 28px;
            overflow: hidden;

            &::before {
                display: unset;
                position: absolute;
                inset: 0;
                padding-left: 12px;
                width: unset;
                height: unset;
                line-height: 56px;
                z-index: -1;
            }

            &[active]::before {
                animation-name: nav-drawer-blob-activate;
            }
        }

        > :is(h3, h4, h5, h6) {
            display: unset;
            padding: 0 16px 0;
        }

        > hr, > hr ~ * {
            display: unset;
        }

        > hr ~ [page] {
            display: flex;
        }
        
        ~ main:first-of-type {
            left: 360px;
            bottom: 0;
        }
        
        @at-root body > header:is(header) {
            left: 360px;
        }
    }
}

[page] {
    cursor: pointer;
}

@keyframes nav-blob-activate {
    1% {
      transform: scaleX(0.8);
    }
    50% {
      transform: scaleX(1);
    }
    to {
        color: var(--on-secondary-container);
        background-color: var(--secondary-container);
    }
}

@keyframes nav-drawer-blob-activate {
    50% {
      
    }
    to {
        color: var(--on-secondary-container);
        background-color: var(--secondary-container);
    }
}