header, body > header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.7rem 0 0.7rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--surface);
    color: var(--on-surface);
    user-select: none;
    cursor: default;

    &::placeholder {
        opacity: 0.63;
    }

    main & {
        margin: 0;
        height: 2.5rem;
        border-radius: unset;
        z-index: 1;
        
        &::after {
            content: attr(title);
            position: absolute;
            left: 4rem;
            margin: auto auto auto 0;
            line-height: 2.5;
            font-weight: 600;
            font-family: inherit;
            vertical-align: middle;
        }

        button[navback] {
            position: absolute;
            margin: 0.8rem -0.5rem;
        }
    }

    /* @at-root body[fullview] > header {
        margin: 0;
        padding: 1.2rem 0 1.2rem 1rem;
        border-radius: 0;
        
        &::before {
            content: attr(title);
            position: absolute;
            margin: 1rem 0 1rem 3rem;
            color: currentColor;
            font-size: 1.2rem;
            font-family: inherit;
            opacity: 1;
        }

        &::after {
            display: none;
        }

        button[icon][navback] {
            display: unset;
            margin: 0.5rem -0.5rem;
        }

        button[icon]:not([navback]) {
            display: none;
        }
        
        input {
            display: contents;
        }
    } */

    input {
        background: none;
        border: none;
        outline: none;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        flex: 100%;
        padding-left: 3.5rem;
        margin-left: -3rem;
        z-index: 1;
        
        &::placeholder {
            color: currentColor;
            opacity: 0.8;
        }
    }

    &::before {
        content: attr(icon);
        font-family: 'Material Icons';
    }
    
    &::before, button[icon] {
        margin: auto 0.5rem auto auto;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 0;
        color: var(--on-surface);
        overflow: visible;
        z-index: 1;
        opacity: 0.8;
    }

    ~ #main {
        top: 4rem;
    }
}