<h1>Styles in this project</h1>
<section id="ripple">
    <h2>Ripple</h2>
    <div ripple class="example-div">
        <p>a div with ripple</p>
    </div>
</section>
<section id="buttons" x-data="{rotate-example: false}">
    <h2>Buttons</h2>
    <button>Default</button>
    <button secondary>Secondary</button>
    <button icon>favorite</button>
</section>
<section id="themes">
    <h2>Dark & Light themes</h2>
    <button secondary onclick="document.documentElement.setAttribute('light', '')">
        Light
    </button>
    <button secondary onclick="document.documentElement.removeAttribute('light')">
        Dark
    </button>
</section>

<style>
    .example-div {
        padding: 2rem;
        background-color: var(--surface);
    }
</style>