<h1>Vzhled stylů a komponentů</h1>
<section id="ripple">
    <h2>Ripple</h2>
    <div ripple class="example-div">
        <p>div s ripple atributem</p>
    </div>
</section>
<section id="buttons" x-data="{ rotate: false }">
    <h2>Tlačítka</h2>
    <button>Výchozí</button>
    <button secondary>Sekundární</button>
    <button disabled>Zakázané</button>
    <button outlined>Ohraničené</button>
    <button text>Textové</button>
    <button secondary icon="playlist_add">Sekundární</button>
    <button icon>favorite</button>
    <button
        icon
        :rotate="rotate"
        x-on:click="rotate = !rotate"
        x-text="rotate ? 'sync_problem' : 'sync'"
    />
    <button icon disabled>visibility_off</button>
</section>
<section id="themes">
    <h2>Světlý a tmavý režim</h2>
    <button secondary onclick="document.documentElement.setAttribute('light', '')">
        Světlý
    </button>
    <button secondary onclick="document.documentElement.removeAttribute('light')">
        Tmavý
    </button>
</section>

<style>
    .example-div {
        padding: 2rem;
        background-color: var(--surface);
    }
</style>