<h1>Rozhodnutí</h1>

<section id="intents" x-data="{
    intents: window.intents
}">
    <template x-for="(intent, name) in intents">
        <div ripple view="intent" x-on:click="Alpine.store('openedIntent', name)">
            <h2 x-text="name"></h2>
            <p x-text="JSON.stringify(intent)"></p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae maxime eligendi eaque, repellendus perferendis reiciendis magnam repudiandae illo! Odit, natus!</p>
        </div>
    </template>
</section>

<style>
    #intents * {
        background: linear-gradient(to left, #200D3A, #292651);
        padding: 0 0.5rem;
        margin: 1rem 0;
        border-radius: var(--border-radius);
        user-select: none;
    }
    #intents * h2 {
        color: var(--primary);
    }
</style>