[ripple], [page], body > header, button, input[type="submit"], input[type="checkbox"] + label {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color:  #0000;
  
    &::after {
      content: '';
      position: absolute;
      inset: 0.15rem;
      background: radial-gradient(
        circle,
        currentColor 10%,
        #0000 calc(10% + 1px /* smooth out pixels */)
      );
      transform: scale(0);
      pointer-events: none;
      opacity: 0.25;
    }
  
    &[afterclick]::after {
        animation: ripple 1s forwards;
    }

    &:disabled {
      cursor: unset;

      &::after {
          display: none;
      }
    }
  }
  
  @keyframes ripple {
    from {
      transform: scale(0);
    }
    25% {
      transform: scale(10);
      opacity: 0.25;
    }
    to {
      transform: scale(10);
      opacity: 0;
    }
  }