button {
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;

    &[icon] {
        text-transform: unset;
        font-family: 'Material Icons';
        background-color: #0000;
        color: currentColor;
        padding: 1rem;
        margin: -0.5rem 0;
        border-radius: 50%;
        box-shadow: unset;
        outline: none;
    }

    &[secondary] {
        background-color: var(--secondary);
        color: var(--on-secondary);
    }
}