button {
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    vertical-align: middle;

    &[icon] {
        transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
        text-transform: unset;
        font-family: 'Material Icons';
        font-size: 1.5rem;
        background-color: #0000;
        color: currentColor;
        padding: 0.5rem;
        margin: 0.6rem;
        border-radius: 50%;
        box-shadow: unset;
        outline: none;
        overflow: visible;

        &[rotate] {
            transform: rotate(360deg);
        }
    }

    &[secondary] {
        background-color: var(--secondary);
        color: var(--on-secondary);
    }
}