[ripple], nav > *, 
button, input[type="submit"] {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color:  #0000;
  
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: radial-gradient(circle, #8884 10%, #0000 10%);
      transform: scale(0);
      pointer-events: none;
    }
  
    &[afterclick] {
      &::after {
        animation: ripple 1s forwards;
      }
    }
  }
  
  @keyframes ripple {
    from {
      transform: scale(0);
    }
    25% {
      transform: scale(10);
      opacity: 1;
    }
    to {
      transform: scale(10);
      opacity: 0;
    }
  }