header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0.5rem;
    padding: 1rem;
    padding-left: 3rem;
    border-radius: var(--border-radius);
    background-color: var(--surface);
    font-weight: 600;
    color: #888;
    user-select: none;

    input {
        background: none;
        border: none;
        outline: none;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
    }

    /* &:focus-within {
        &::before {
            content: 'close';
            cursor: pointer;
        }
    } */

    &::before {
        content: attr(icon);
        position: absolute;
        left: 0.5rem;
        top: 0.8rem;
        font-family: 'Material Icons';
        font-weight: 400;
        font-size: 2rem;
        filter: contrast(2);
    }

    ~ #main {
        top: 4rem;
    }
}