header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: 0.5rem;
    padding: 1rem 0 1rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--surface);
    font-size: 1.2rem;
    color: #888;
    user-select: none;
    cursor: default;
    z-index: 1;

    input {
        background: none;
        border: none;
        outline: none;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        flex: 100%;
        padding-left: 3rem;
        margin-left: -2.5rem;
        z-index: 1;
    }

    &::before {
        content: attr(icon);
        font-family: 'Material Icons';
    }
    
    &::before, button[icon] {
        margin: auto;
        font-weight: 400;
        font-size: 2rem;
        line-height: 0;
        color: var(--on-surface);
        overflow: visible;
        z-index: 1;
    }

    ~ #main {
        top: 4rem;
    }
}