@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined&display=swap');

@import "styles/effects/ripple.css";
@import "styles/effects/shadow.css";
@import "styles/effects/loading.css";
@import "styles/components/nav.css";
@import "styles/components/topbar.css";
@import "styles/components/button.css";
@import "styles/components/dialog.css";

html {
  display: initial !important; /* CLS */
  transition: 
    background-color 0.5s cubic-bezier(0, 0, 0, 1),
    color 0.5s cubic-bezier(0, 0, 0, 1);
  --background: #000;
  --on-background: #ddd;
  --surface: #222;
  --on-surface: #ddd;
  --border-radius: 0.5rem;
  --primary: #1778e4;
  --on-primary: #fff;
  --secondary: #312f31;
  --on-secondary: #fff;

  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Open Sans';
}
html[light] {
  --background: #f4f8ff;
  --on-background: #000;
  --surface: #f0f4ff;
  --on-surface: #444;
}
body > main {
  position: absolute;
  border: none;
  inset: 0;
  padding: 1rem;
  overflow-x: hidden;

  &[afterload] {
    animation: main-load 0.5s cubic-bezier(0, 0.7, 0, 1) forwards;
  }

  &:not(:first-of-type) {
    background-color: var(--background);
    top: 0;
    padding-top: 4rem;

    &[afterload] {
      animation: main-open 0.5s cubic-bezier(0, 1, 0, 1) forwards;
    }
  }
}

@keyframes main-load {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes main-open {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #8884;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: #8884;
}