@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined&display=swap');

@import "styles/components/main.css";
@import "styles/effects/ripple.css";
@import "styles/effects/shadow.css";
@import "styles/effects/loading.css";
@import "styles/components/nav.css";
@import "styles/components/header.css";
@import "styles/components/button.css";
@import "styles/components/dialog.css";
@import "styles/components/card.css";
@import "styles/components/input.css";
@import "styles/components/section.css";

html {
  display: initial !important; /* CLS */
    
  --primary: hsl(258, 100%, 87%);
  --on-primary: hsl(258, 59%, 28%);
  --primary-container: hsl(257, 43%, 38%);
  --on-primary-container: hsl(263, 100%, 93%);

  --secondary: hsl(263, 27%, 81%);
  --on-secondary: hsl(258, 18%, 22%);
  --secondary-container: hsl(258, 13%, 31%);
  --on-secondary-container: hsl(263, 65%, 92%);

  --background: hsl(255, 7%, 11%);
  --on-background: hsl(312, 9%, 89%);
  
  --surface: hsl(255, 7%, 11%);
  --on-surface: hsl(312, 9%, 89%);
  --surface-variant: hsl(264, 7%, 29%);
  --on-surface-variant: hsl(270, 11%, 79%);

  --border-radius: 0.5rem;
  --outline-color: hsl(264, 5%, 58%);
  --outline: solid 1.5px var(--outline-color);

  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Open Sans';
}
html[light] {
  --primary: hsl(256, 34%, 48%);
  --on-primary: hsl(0, 0%, 100%);
  --primary-container: hsl(263, 100%, 93%);
  --on-primary-container: hsl(261, 100%, 18%);

  --secondary: hsl(259, 11%, 40%);
  --on-secondary: hsl(0, 0%, 100%);
  --secondary-container: hsl(263, 65%, 92%);
  --on-secondary-container: hsl(257, 26%, 13%);

  --background: hsl(315, 100%, 99%);
  --on-background: hsl(255, 7%, 11%);

  --surface: hsl(315, 100%, 99%);
  --on-surface: hsl(255, 7%, 11%);
  --surface-variant: hsl(275, 24%, 90%);
  --on-surface-variant: hsl(267, 6%, 29%);
}

::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #8884;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: #8884;
}

:root /* Body large */ {
  font-family: 'Roboto', 'Noto Sans';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015em;
}
h1 /* Display large */ {
  line-height: 64px;
  font-size: 57px;
  letter-spacing: 0;
  font-weight: 400;
}
h2 /* Display medium */ {
  line-height: 52px;
  font-size: 45px;
  letter-spacing: 0;
  font-weight: 400;
}
/* Display small {
  line-height: 44px;
  font-size: 36px;
  letter-spacing: 0;
  font-weight: 400;
} */
h3 /* Headline large */ {
  line-height: 40px;
  font-size: 32px;
  letter-spacing: 0;
  font-weight: 400;
}
/* Headline medium { 
  line-height: 36px;
  font-size: 28px;
  letter-spacing: 0;
  font-weight: 400;
} */
h4 /* Headline small */ {
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 400;
}
/* Title large {
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 0;
  font-weight: 400;
} */
h5 /* Title medium */ {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
}
h6 /* Title small */ {
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.01em;
  font-weight: 500;
}